/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

ul {
    text-align: start;
}

ul.technologies, ul.front-technologies {
    list-style: none;
}

ul.technologies li::before {
    content: "⚙️";
}

ul.front-technologies li::before {
    content: "🎉";
}